			<div id="hd">
				<ul class="robots-nocontent outside">
					<li><a accesskey="s" href="#content_target">Skip to main content</a></li>
					<li><a href="#sidebar_target">Skip to related content</a></li>
				</ul>
				<div class="robots-nocontent hdnav"><a href="/sidor/om/">About</a> <a href="/sidor/om/#kontakt" accesskey="7">Contact</a> <a href="/sidor/english/" lang="en">English</a></div>
                <div class="logo">
                    <div class="first">
                        <a href="/" accesskey="1">
                            <img src="/static/img/logo.gif" alt="Start page" />
                            <span class="sitename">Idéum</span>
                            <span class="slogan">Improve your community!</span>
                        </a>
                    </div>
                </div>
			</div>
